.navBar {
  position: relative;
  background: rgb(9, 39, 121);
  background: linear-gradient(
    180deg,
    rgba(9, 39, 121, 1) 0%,
    rgba(26, 55, 170, 1) 51%,
    rgba(46, 46, 226, 1) 100%
  );
  box-shadow: inset 0 0 5px rgba(165, 165, 165, 0.63);
  width: var(--containerWidth);
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin: auto;
  top: 50px;
}

.navBar-logo-links {
  position: relative;
  display: flex;
}

.navBar-logo-links-ul {
  display: flex;
  position: relative;
  align-items: center;
  left: 230px;
}

.navBar-logo-links-ul li a {
  padding: 17px;
}

.navBar-logo-links-ul li a:hover {
  background: rgb(0, 249, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 249, 255, 0.20772058823529416) 0%,
    rgba(0, 249, 255, 0.05085784313725494) 76%
  );
}

.navBar-logo-links img {
  position: absolute;
  top: -59px;
  left: -37px;
}

.play-free-btn a {
  font-weight: bold;
  padding: 17px;
  background: rgb(255, 165, 0);
  background: linear-gradient(180deg, #ff9500 0%, #f50 100%);
  text-shadow: 0px 2px 10px black;
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}
.logo-big img {
  transition: filter 200ms ease-in-out;
}
.logo-big:hover img {
  filter: brightness(1.2);
}

.logo-small {
  display: none;
}

.NavBarGamesToggle {
  background: rgb(9, 39, 121);
  background: linear-gradient(
    180deg,
    rgba(9, 39, 121, 1) 0%,
    rgba(26, 55, 170, 1) 51%,
    rgba(46, 46, 226, 1) 100%
  );
  box-shadow: inset 0 0 5px rgba(165, 165, 165, 0.63);
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 200px;
  padding: 10px 0;
  display: none;
}

.NavBarGamesToggle li a {
  padding: 7px 20px;
  display: block;
}

.NavBarGamesToggle.games-list-desktop-active {
  display: block;
}

.navBarMobilePlaceholder {
  display: none;
}
@media screen and (min-width: 1921px) {
  .navBar {
    width: 60%;
  }
}
@media screen and (max-width: 1400px) {
  .logo-big {
    display: none;
  }

  .logo-small {
    width: 50px;
    height: 49px;
    border-right: solid rgba(109, 138, 255, 0.164) 2px;
    display: block;
    position: absolute;
    bottom: -15px;
    box-shadow: inset 0px 0px 15px rgba(148, 169, 255, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-small img {
    position: relative;
    top: 0;
    left: 0;
    transition: filter 200ms ease-in-out;
  }

  .logo-small img:hover {
    filter: brightness(1.2);
  }

  .navBar-logo-links-ul {
    left: 70px;
    font-size: 14px;
  }

  .play-free-btn a {
    font-size: 14px;
    padding: 18px;
    position: relative;
    top: -1px;
  }

  .navBar {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .navBar {
    width: 100%;
    margin: 0 auto;
    top: 0;
  }
}

@media screen and (max-width: 800px) {
  .navBarMobilePlaceholder {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(9, 39, 121);
    background: linear-gradient(
      180deg,
      rgba(9, 39, 121, 1) 0%,
      rgba(26, 55, 170, 1) 51%,
      rgba(46, 46, 226, 1) 100%
    );
    box-shadow: inset 0 0 5px rgba(165, 165, 165, 0.63);
    z-index: 1;
  }

  .navBarMobilePlaceholder img {
    position: relative;
    width: 100px;
  }

  .navBarMobilePlaceholder p {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  .navBar {
    display: none;
  }
  .hamburger {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .hamburger img {
    width: 22px;
    opacity: 0.7;
  }

  .hamburger:hover img {
    opacity: 1;
  }
  .BlizzMobile-icon {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .BlizzMobile-icon img {
    width: 22px;
    opacity: 0.7;
  }

  .BlizzMobile-icon:hover img {
    opacity: 1;
  }
}
