.WeeklyRotation {
  background: url("/images/Backgrounds/champs-bg.jpg") no-repeat center
    center/cover;
  padding: 50px 0;
}

.weekly-rotation-container {
  width: var(--containerWidth);
  margin: auto;
  display: flex;
  padding: 50px 0;
}

.play-as-latest-champs {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-right: 40px;
}

.play-as {
  text-align: left;
  position: relative;
}

.play-as h3 {
  color: rgb(177, 1, 177);
}
.play-as h1 {
  font-size: 35px;
}
.play-as p {
  margin: 20px 0;
  font-size: 18px;
  width: 350px;
}

.play-as a {
  display: block;
  text-align: center;
  position: absolute;
  font-weight: bold;
  padding: 17px 60px;
  background: rgb(255, 165, 0);
  background: linear-gradient(180deg, #ff9500 0%, #f50 100%);
  text-shadow: 0px 2px 10px black;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.664);
  width: 350px;
  margin-top: 60px;
}
.latest-champs {
  height: 100%;
  position: relative;
  margin-left: 50px;
}

.champ1 {
  margin: 20px 0;
}

.champ2 {
}

.champs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center;
}

.latest-champs img {
  width: 128px;
  border: solid #cce6ff 3px;
  border-radius: 50%;
  box-shadow: 0 0 10px #cce6ff;
}
.free-champs-rotation {
  height: auto;
  display: block;
}
.champs li a {
  width: 100px;
  margin: 20px;
  display: block;
  filter: brightness(0.9);
  transition: filter 200ms ease-in-out;
}
.champs li a img {
  width: 80px;
  border: solid #cce6ff 3px;
  border-radius: 50%;
  box-shadow: 0 0 10px #cce6ff;
}
.champs li a:hover {
  filter: brightness(1.2);
}
@media screen and (min-width: 1921px) {
  .weekly-rotation-container {
    width: 60%;
  }
}
@media screen and (max-width: 1465px) {
  .play-as-latest-champs {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
  }
  .latest-champs {
    position: relative;
    display: flex;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .latest-champs p:first-child {
    position: relative;
    left: 0;
    width: 100%;
  }

  .latest-champs-img {
    display: flex;
    align-items: center;
  }
  .champ1 {
    padding: 20px;
  }

  .champ2 {
    padding: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .weekly-rotation-container {
    width: 90%;
  }
}

@media screen and (max-width: 1070px) {
  .play-as-paragraph {
    display: none;
  }
  .latest-champs {
    position: relative;
    display: flex;
    top: -250px;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    border-right: solid 1px rgba(128, 128, 128, 0.466);
  }
  .latest-champs-img {
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  .champ1 {
    padding: 0px;
  }

  .champ2 {
    padding: 0px;
  }
  .champs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .champs li a {
    display: flex;
    align-items: center;
    filter: brightness(0.9);
    transition: filter 200ms ease-in-out;
    margin: 10px 40px;
  }
  .champs li a img {
    width: 40px;
    border: solid #cce6ff 3px;
    border-radius: 50%;
    box-shadow: 0 0 10px #cce6ff;
  }
  .champs li a p {
    margin-left: 10px;
  }
  .free-champs-rotation {
    position: relative;
    top: 127px;
  }
  .play-as {
    width: 250px;
  }
  .play-as a {
    position: relative;
    bottom: -400px;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .weekly-rotation-container {
    flex-direction: column;
    height: 900px;
  }
  .latest-champs {
    border: none;
    width: 400px;
    margin: 0 auto;
    top: -80px;
    left: 10px;
  }
  .latest-champs-img {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .free-champs-rotation {
    position: relative;
    top: -50px;
    width: 400px;
    margin: auto;
  }
  .play-as {
    width: 400px;
    margin: auto;
  }
  .play-as a {
    position: relative;
    top: 720px;
    width: 100%;
    margin: 20px auto;
    left: 10px;
  }
}
