:root {
  --blizzheight: 40px;
  --containerWidth: 80%;
  --containerAnimDuration: 400ms;
}

.blizz-nav {
  position: relative;
  background: #111;
  width: 100%;
  height: var(--blizzheight);
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 3px 0;
  border-bottom: #222 solid 1px;
  box-shadow: 0 0 15px #111;
  z-index: 1;
}

.blizz-nav-content {
  position: relative;
  display: flex;
  width: var(--containerWidth);
  align-items: center;
  z-index: 2;
}
.blizz-nav-logo-links {
  display: flex;
}
.blizz-nav-logo-links img {
  width: 62px;
  object-fit: contain;
  filter: brightness(1.7);
  margin-right: 15px;
}

.blizz-nav-logo-links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.blizz-nav-logo-links li p {
  position: relative;
  top: 2px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  font-size: 13px;
}

.blizz-nav-logo-links li a {
  margin: 0 15px;
  position: relative;
  top: 2px;
}

.blizz-nav-login {
  position: absolute;
  right: 0px;
  display: flex;
  list-style: none;
  align-items: center;
}

.blizz-nav-login li a {
  margin: 0 25px;
  position: relative;
  top: 2px;
}

.blizz-nav-login li p {
  position: relative;
  top: 2px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  font-size: 13px;
}

.arrow-down {
  position: relative;
  font-weight: bold;
  color: #00aeff;
  font-size: 14px;
  margin: 3px;
}
@media screen and (min-width: 1921px) {
  .blizz-nav-content {
    width: 60%;
  }
}
@media screen and (max-width: 1400px) {
  .blizz-nav-content {
    position: relative;
    display: flex;
    width: 90%;
    align-items: center;
    z-index: 2;
  }
}

@media screen and (max-width: 960px) {
  .blizz-nav {
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  .blizz-nav {
    display: none;
  }
}
