.social {
  width: 100%;
  height: 150px;
  background: url("/images/Backgrounds/champs-bg.jpg") no-repeat center
    center/cover;
  display: flex;
  border-top: solid 2px rgba(0, 0, 0, 0.322);
}

.social-container {
  width: var(--containerWidth);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container h1 {
  font-size: 40px;
}

.social-icons {
  display: flex;
}

.social-icons img {
  width: 80px;
}

@media screen and (min-width: 1921px) {
  .social-container {
    width: 60%;
  }
}
@media screen and (max-width: 1070px) {
  .social {
    height: auto;
    padding: 40px;
  }
  .social-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .social-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
