.lds-dual-ring {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  left: 0;
  border-radius: 50%;
  border: 6px solid rgba(46, 46, 226);
  background: rgb(9, 39, 121);
  background: linear-gradient(
    180deg,
    rgba(9, 39, 121, 1) 0%,
    rgba(26, 55, 170, 1) 51%,
    rgba(46, 46, 226, 1) 100%
  );
  border-color: rgb(158, 158, 255) transparent rgb(158, 158, 255) transparent;
  animation: lds-dual-ring 1200ms linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
