.ChampionStats {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 60px;
  background: url("/images/Backgrounds/heroes-bg.jpg") no-repeat center
    center/cover;
  margin-top: -50px;
}

.ChampionStatsContainer {
  position: relative;
  width: 650px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  animation-name: opacity1;
  animation-duration: 400ms;
}

.ChampionStatsContainer img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
}

.HeroStatsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  justify-content: space-between;
}

.HeroStats {
  width: 68.5%;
  height: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(6, 21, 61, 0.98);
}

.HeroStats-name-title-universe-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.HeroStats-name-title-universe-container img {
  position: relative;
  width: 100px;
  top: 18px;
}

.HeroStats-name-title h1 {
  font-size: 40px;
}

.HeroStats-name-title h3 {
  font-size: 20px;
  font-weight: normal;
}
.BarContainer {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(2, 8, 27, 0.98);
}

.stat {
  display: flex;
  position: relative;
  align-items: center;
}

.stat img {
  width: 45px;
  margin: 0;
  margin-right: 5px;
  position: relative;
}
.stat p {
  width: 180px;
  display: flex;
  align-items: center;
}
.bar {
  text-align: right;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background: rgb(9, 39, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 39, 121, 0.98) 0%,
    rgba(26, 55, 170, 0.98) 51%,
    rgba(46, 46, 226, 0.98) 100%
  );
}
.bar span {
  color: #fff;
  margin-right: 10px;
}

.role {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 220px;
  padding: 20px;
  justify-content: space-between;
  background: rgba(6, 21, 61, 0.98);
}
.role p {
  text-transform: capitalize;
  font-weight: normal;
  position: relative;
  bottom: 5px;
}
.role img {
  width: 120px;
}

@media screen and (min-width: 1921px) {
  .ChampionStatsContainer {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .ChampionStatsContainer {
    width: 90%;
  }
  .HeroStatsContainer {
    width: 100%;
    flex-direction: column;
  }
  .HeroStats {
    width: 100%;
  }
  .role {
    width: 100%;
    margin-top: 5px;
  }
  .ChampionStats {
    padding-top: 150px;
  }
}
